<h1>Chat Socket Io</h1>
<div>
<form id="form">
    <label for="email">Email</label>
    <input type="email" required name="email">
    <label for="message">Message</label>
    <input type="text" required name="message">
    
    <button type="submit">send</button>
</form>
<div id="messages"></div>
</div>
