<h1>Login</h1>
<form id="formLogin">
    <label for="email">Email</label>
    <input type="email" required name="email">
    <label for="password">password</label>
    <input type="password" required name="password">
    <button type="submit">send</button>
</form>
